/* Write your CSS code here */
.table-item-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.coin-container {
  display: flex;
  align-items: center;
}

.currency-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.currency-text {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-right: 20px;
}

.currency-image {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
